body{
    margin: 0;
}
#header{
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    /* height: 100px; */
    justify-content: space-around;
    width: 100%;
}
.container1{
    font-size: 17px;
    width: 1200px;
    text-align: center;
    margin: 0 auto;
}
#img1{
    height: 40px;
    width: 40px;
}
.nav{
    float: right;
}
.nav li{
    /* margin-left: 15px; */
    float: left;
    font-size: 14px;
}
.between{
    justify-content: space-between;
}
.movies,.books{
    /* width: 1200px; */
    margin: 0 auto;
}
.movies h2,h3{
    text-align: center;
}
.books h2,h3{
    text-align: center;
}
.movies hr,.books hr{
    width: 75px;
    border: 2px solid black;
}
.movies::after,.books::after{
    content: "";
    height: 0;
    display: block;
    clear: both;
}
.movies ul,.books ul{
    list-style: none;
    /* display: flex; */
    justify-content: space-between;
}
.movies img,.books img{
    /* width: 275px; */
    width: 100%;
    /* height: 300px;  */
}
.movies li,.books li{
    border: 1px solid pink;
    padding: 5px;
}
.movies li:hover,.books li:hover{
    margin-top: -5px;
}
/* #footer{
    background-color: #f0f0f0;
}
.footer-text{
    height: 150px;
    margin: 0 auto;  
}
.footer-text p{
    float: left;
    width: 900px;
}
.footer-img{
    width: 300px;
    float: right;
}
.footer-text img{
    width: 90%;
    float: right;
}
#footer hr{
    width: 1200px;
    border: 1 solid;
}
.copyright{
    text-align: center;
} */
.footer{
    background: #f0f0f0;
    text-align: center;
    align-items: center;
}
.footer-img{
    margin: 0 auto;   
}
.footer-content-img1{
    display: flex; 
}
.footer-content-img1 span{
    display: block;
    margin-top: 10px;
}
.footer-content-img1 img{
    flex: 1;
    width: 50px;
    height: 50px;
    margin-top: 10px;
    /* margin-right: 20px; */
}
